/**
 * Global app/site styles
 */
body {
	background-color: $color-bg;
}

.masthead {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 30;
}

.vignette {
	background: url(../images/vignette.png) top center no-repeat;
	background-position: cover;
	pointer-events: none;
	position: absolute;
	z-index: 99;
	height: 100%;
	width: 100%;
}

/**
 * Default layout container
 */
.l-container {
	padding-left: #{$layout-margin}px;
	padding-right: #{$layout-margin}px;
	width: 95%;
	max-width: #{$layout-max-width}px;
	margin: 0 auto;

	.lt-ie9 & {
		min-width: #{$layout-min-width}px;
	}
}

.mouse-bg {
left: 0;
right: 0;
bottom: 0;
top: 0;
position: fixed;
z-index: -1;
}

#scene {
	background-image: url(../images/background.jpg);
	list-style: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.layer:nth-child(1) {
  opacity: 0.7;
}
.layer:nth-child(1) button {
  -webkit-transform: rotate(150deg);
}

.layer:nth-child(2) {
  opacity: 1;
}
.layer:nth-child(2) button {
  -webkit-transform: rotate(120deg);
}

.layer:nth-child(3) {
  opacity: 0.8;
}
.layer:nth-child(3) button {
  -webkit-transform: rotate(90deg);
}

.layer {
	position: relative;
	height: 900px;
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
}

.ground {
	background: url(../images/ground-trees.png) bottom transparent repeat-x;
	position: absolute;
	height: 130%;
	width: 300%;
	left: -130%;
	bottom: 20px;
}

.trees {	
	background: url(../images/trees.png) bottom transparent repeat-x;
	position: absolute;
	height: 100%;
	width: 300%;
	left: -150px;
	bottom: 50px;
}

.rain {	
	// background: url(../images/rain.png) bottom transparent repeat-x;
	position: absolute;
	height: 100%;
	width: 300%;
	left: -150px;
	bottom: 0;
	 -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Chrome, Safari, Opera */
    transform: rotate(20deg);
}

//Rain drops
.drop {
  background: rgba(255,255,255,0.3);
  // background: -moz-linear-gradient(top, rgba(13,52,58,1) 0%, rgba(255,255,255,.6) 100%);
	width:1px;
	height:89px;
	position: absolute;
	bottom:200px;
	-webkit-animation: fall .63s linear infinite;
  -moz-animation: fall .63s linear infinite;
}
/* animate the drops*/
@-webkit-keyframes fall {
	to {margin-top:900px;}
}
@-moz-keyframes fall {
	to {margin-top:900px;}
}

.rain--background {	
	background: url(../images/rain.png) bottom transparent repeat-x;
	position: absolute;
	height: 100%;
	width: 300%;
	left: -150px;
	bottom: 0;
}


.ground--two {
	background: url(../images/ground-trees.png) bottom transparent repeat-x;
	position: absolute;
	height: 130%;
	width: 300%;
	right: -170%;
	bottom: -50px;
}

.black {	
	// background: #000000;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 90%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 90%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 90%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 90%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 90%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	position: absolute;
	height: 90px;
	width: 100%;
	bottom: 0;
}